.floatingtop{
    background-color: rgb(11, 11, 67);
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Inter, Open Sans, Bebas Neue, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, serif, Arial, sans-serif;
}

.grid{
    background-color: rgb(33, 33, 33);
    height: 70px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/* left and right */
.left {
    display: flex;
    width: 30;
    justify-content: left;
    margin-left: 30px;
    gap: 0px;
    cursor: pointer;
}
.right{
    display: flex;
    justify-content:right;
    gap: 10px;
    margin-right: 15px;
}
.allen img {
    width: 100px;
    height: 55px;
    margin-top: 10px;
   
}
.nike img {
 width: 110px;
 height: 70px;
 margin-left: 20px;
}
.vh img{
    width: 100px;
    height: 60px;
    margin-top: 5px;
}
.lv img{
    width: 60px;
    height: 50px;
    margin-left: 10px;
    margin-top: 13px;
}
.store div i{
    color: white;
    margin-top: 30px;
    font-family:'Raleway', sans-serif;
    gap: 5px;
}
.store,.contact,.login span{
    margin-left: 10px;
}
.contact i{
    color: white;
    margin-top: 30px;
    font-family:'Raleway', sans-serif;
}
.login i{
    color: white;
    margin-top: 30px;
    font-family:'Raleway', sans-serif;
}
.fav i{
    color: white;
    margin-top: 30px; 
}
.cart i{
    color: white;
    margin-top: 30px;
}
.aditya img{
    width: 145px;
    height: 70px;
    margin-top: 1px;
    margin-right: 1px;
}
.gridmain2{
    display: flex;
    flex-wrap: wrap;
    height: 70px;
    background-color: white;
   justify-content: space-evenly;
}
.allenimg img{
    height: 70px;
    margin-left: 10px;
}


.gridsub1{
    display: flex;
}

.right2{
    display: flex;
    gap: 15px;
    color: #0e3051;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 30px;
    justify-content: left;
    font-weight: 500;
    font-size: 17px;
    cursor: pointer;
}
.right2 div:hover{
    border-bottom: 2px solid red;
}


.gridsub3{
    display: flex;
}
.right3{
    display: flex;
}
.search{
    padding-top: 30px;
    
}
.search input{
    border: none;
    border-bottom: 1px solid black;
}
.banner{
    background-image: url("../images/pretty-young-stylish-sexy-woman-pink-luxury-dress-summer-fashion-trend-chic-style-sunglasses-blue-studio-background-shopping-holding-paper-bags-talking-mobile-phone-shopaholic.jpg");
    width: 100%;
    height: 900px;
    background-size: cover;
    
}
.bannerlabel{
    justify-content: center;
    align-items: center;
}
.bannersub div{
    margin-left: 1000px;
    align-items: ;
}
.circle{
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    gap: 70px;
    padding: 70px;
    grid-template-columns: 1fr;
}
.circle p{
    width: 100%;
    justify-content: center; 
    text-align: center;
    margin-left: 5px;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif; 
    font-weight: normal; 
}
.yellow{
    background-color:#f0db7b;
    height: 200px;
}
.label1 h1{
    font-family: apple-system,BlinkMacSystemFont,Segoe UI,Inter,Open Sans,Bebas Neue,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,serif,Arial,sans-serif;;
}
.label3{
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}
.label3 p{
    border: dotted 1px black;
    border-radius: 6px;
    padding-top: 4px;
    background-color: rgb(236, 236, 18);
}
.yellow1{
    padding-left: 30px;
    padding-top: 20px;
}
.label3 img{
    height: 40px;
    padding-top: 9px;
}